force-app/main/default/flows/Add_points_to_racer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>add_points_to_racer</name>
        <label>add points to racer</label>
        <locationX>480</locationX>
        <locationY>657</locationY>
        <assignmentItems>
            <assignToReference>store_current_racer.Points__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_racer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_points_to_racer_0</name>
        <label>add points to racer</label>
        <locationX>642</locationX>
        <locationY>529</locationY>
        <assignmentItems>
            <assignToReference>store_current_racer.Points__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_racer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_points_to_racer_0_0</name>
        <label>add points to racer</label>
        <locationX>1072</locationX>
        <locationY>280</locationY>
        <assignmentItems>
            <assignToReference>store_current_racer.Points__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_racer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_class_of_championatship</name>
        <label>Determine class of championatship</label>
        <locationX>460</locationX>
        <locationY>289</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>National_class</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Championship__r.Championship_Class__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>National</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_points_to_racer</targetReference>
            </connector>
            <label>National class</label>
        </rules>
        <rules>
            <name>International_class</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Championship__r.Championship_Class__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_points_to_racer_0</targetReference>
            </connector>
            <label>International class</label>
        </rules>
        <rules>
            <name>Elite_classs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Championship__r.Championship_Class__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elite</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_points_to_racer_0_0</targetReference>
            </connector>
            <label>Elite classs</label>
        </rules>
    </decisions>
    <interviewLabel>Add points to racer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add points to racer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_current_racer</name>
        <label>get current racer</label>
        <locationX>126</locationX>
        <locationY>280</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_class_of_championatship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Racer__r.Name</elementReference>
            </value>
        </filters>
        <object>Racer__c</object>
        <outputReference>store_current_racer</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Points__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_racer</name>
        <label>update racer</label>
        <locationX>1072</locationX>
        <locationY>669</locationY>
        <inputReference>store_current_racer</inputReference>
    </recordUpdates>
    <start>
        <locationX>326</locationX>
        <locationY>20</locationY>
        <connector>
            <targetReference>get_current_racer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Racer_Position__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>store_current_racer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Racer__c</objectType>
    </variables>
</Flow>
