force-app/main/default/flows/Update_position_type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>change_type</name>
        <label>change type</label>
        <locationX>264</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>iterate_rec.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cosed/Rejected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterate_rec</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_days_pass</name>
        <label>check days pass</label>
        <locationX>396</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>iterate_rec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>more_90</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>days_pass</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>90.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>change_type</targetReference>
            </connector>
            <label>more 90</label>
        </rules>
    </decisions>
    <formulas>
        <name>days_pass</name>
        <dataType>Number</dataType>
        <expression>TODAY()-{!iterate_rec.Opened_at__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update position type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update position type</label>
    <loops>
        <name>iterate_rec</name>
        <label>iterate rec</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>pos_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_days_pass</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_passed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_rec</name>
        <label>get rec</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterate_rec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opened_at__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opened_at__c</elementReference>
            </value>
        </filters>
        <object>Position__c</object>
        <outputReference>pos_rec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opened_at__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_passed</name>
        <label>update passed</label>
        <locationX>176</locationX>
        <locationY>948</locationY>
        <inputReference>iterate_rec</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_rec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opened</stringValue>
            </value>
        </filters>
        <object>Position__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-05-04</startDate>
            <startTime>23:13:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>pos2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Position__c</objectType>
    </variables>
    <variables>
        <name>pos_rec</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Position__c</objectType>
    </variables>
</Flow>
